{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet"><!-- Required meta tags -->
</head>
<body>
    <form action="reg" method="post">
        {% csrf_token %}
        <h1>Sign Up</h1>
        <input type="text" name="first_name" placeholder="Firest" class="txtb">
        <input type="text" name="last_name" placeholder="Lirest" class="txtb">
        <input type="text" name="username" placeholder="Uirest" class="txtb">
        <input type="email" name="email" placeholder="Eirest" class="txtb">
        <input type="password" name="password1" placeholder="Pirest" class="txtb">
        <input type="password" name="password2" placeholder="CPirest" class="txtb"><br>
        <input type="Submit" value="Create Account" class="signup-btn">
    </form>
</body>
</html>
