{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  </head>
  <body>
    <div class="signup-form">
      <form class="" action="login" method="post">
        {% csrf_token %}
        <h1>Login</h1>
        <input type="text" name="first_name" placeholder="first_name" class="txtb">
        <input type="text" name="last_name" placeholder="last_name" class="txtb">
        <input type="text" name="username" placeholder="username" class="txtb">
        <input type="password" name="password1" placeholder="password1" class="txtb">
        <input type="password" name="password2" placeholder="password2" class="txtb">
        <input type="email" name="email" placeholder="email" class="txtb">
        <input type="submit" value="Signinto Account" class="signup-btn">
      </form>
      <div>
        {% for messages in messages %}
        <h3> {{messages}}  </h3>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
